<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Confirm Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<p>
<p th:text="${name}">Default body!</p>
We confirm your order </br>
This order is not payded </br>
Welcome to payments </br>
Transfer details: </br>
In attachment we sent details od your order
</br>
You have 3 days for payment, after that is order will not be active
</p>
<p>
    Best Regards </br>
    Travel Agency
</p>
</body>
</html>